.row
  .col-md-3
  .col-md-6
    #clearance.sign-in
      %h2 Login

      = render partial: '/sessions/form'


.row
  .col-md-3
  .col-md-6
    #clearance.sign-in
      %h2 Register
      - @user = User.new
      = render partial: '/users/form'

