#logo
  = image_tag 'slime-kangaroo-logo.png', alt: 'Slime Kangaroo Logo', width: '450px', class: 'img-fluid'

%h1 Coming Soon

.row
  .col-md-2
  .col-md-8
    .description
      Welcome to Kangaroo Slimes! We sell affordable slimes that are good quality. Our slimes come with charms add ons and more. We have cloud slimes, thick and glossy slimes, and more! Our slimes are all scented to match the slime. We are constantly coming out with new slimes. Our shop is new to the community, so please understand that we are not professionals. For more info visit our other pages located on our website.
