.row
  .col-md-12
    #logo.text-center= image_tag "slime-kangaroo-logo.png", width: '100px'

.row
  .col-md-12
    %h1 Checkout

.row
  .col-md-12
    .text-center= link_to "Continue shopping", root_path, class: 'continue-shopping-link'
