.row
  .col-md-2
  .col-md-8
    = render 'cart'

.row
  .col-md-2
  .col-md-8
    - if @order&.order_items&.any?
      .row
        .col-md-3
        .col-md-6
          .text-center
            = button_to "Checkout", shipping_path, method: :get,class: 'btn btn-lg btn-primary'

