
%section
  .product
    = image_tag "slime-kangaroo-logo", width: '250px'
    .description
      %h3 Slime Kangaroo
      %h5= number_to_currency @order.amount
  %button(type="button" id="checkout-button") Checkout
