#checkout
  = render 'orders/checkout_header'

  - if signed_in?
    .row
      .col-md-12
        %h2 Shipping

        = render 'shipping'



    .row
      .col-md-12
        .text-center

  - else
    .row
      .col-md-12
        Create an account
