.row
  .col-md-12
    .text-center
      .review-image= image_tag "slime-kangaroo-logo.png", width: '100px' 

.row
  .col-md-12
    %h1 Shipping Address
    .continue-shopping-link= link_to "continue shopping", root_path

.row
  .col-md-12
    = render 'shipping'

