$base-font-size: 17px;
$base-color-primary: #ACBD8A;
$base-color-secondary: #E9946A;

body {
  font-size: ç;
}

nav.navbar {
  margin-bottom: 3rem;
  #brand-logo {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

h1, h2, h3, h4 {
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 1.5em;
}

p {
  font-weight: 400;
  line-height: 1.777;
}

h1 {
  font-size: 3rem;
}

table th,td {
  vertical-align: middle !important;
  font-weight: 500;
}

#user {
  margin-top: 5rem;
  h1 {
    font-size: 1.8rem;
    margin-bottom: 0em;
  }
  h2 {
    border-top: 2px solid #efefef;
    padding-top: 1.5em;
    margin-top: 2em;
    margin-bottom: 1.2em;
    font-size: 1.3rem;
  }
}

.alert-base {
  background-color: $base-color-secondary;
  color: #fff;
}

table#messages-table {
  tr th,td{
    font-weight: 300;
    a {
      color: #000;
      &:hover {
        text-decoration: none;
      }
    }
  }
  tr.unread {
    th, td {
      font-weight: 600 !important;
      a {
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}

#order {
  h2 {
   margin: 5rem 0 2rem 0;
   font-size: 1.2em;
   font-weight: 700;
  }
  table.table#order-items {
    th, td {
      &.amount {
        text-align: right;
      }
      &.quantity {
        text-align: center;
      }
    }
  }
  table#order-table-details, table#order-table-shipping {
    td {
      text-align: right;
    }
  }
}

#product {
  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2em;
  }
  .description {
    font-size: 1.1rem;
  }
}

#checkout {
  margin: 2em 0;
  .review-image {
    margin: 0 auto 1em auto;
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  h2 {
    font-size: 1rem;
    font-weight: 900;
    margin: 0 0 0.5em 0;
  }
  .review-element {
    margin-bottom: 3.4em;
  }
  .order-total {
    font-weight: 800;
    color: $base-color-secondary;
  }
}

.continue-shopping-link {
  text-align: center;
  margin-bottom: 1.5rem;
}

#cart {
  margin-bottom: 1rem;
  .cart-icon {
    font-size: 2.75rem;
    margin: 0 0 1em 0;
    text-align: center;
  }
  th, td {
    &.name {
    }
    &.price {
      width: 7em;
      text-align: right
    }
    &.remove-button {
      width: 6em;
      text-align: center;
    }
    &.quantity {
      width: 6em;
      text-align: center;
    }
    &.amount {
      width: 5.5em;
      text-align: right;
    }
  }
}

table#orders {
  th,td {
    &.actions {
      text-align: right;
      width: 12em;
    }
    &.status {
      width: 8em;
      text-align: center;
    }
    &.amount {
      width: 7em;
      text-align: right;
    }
    &.uuid {
      width: 6em;
    }
    &.datetime {
      width: 15em;
    }
    &.items {
      width: 2.5em;
      text-align: center;
    }
  }
}

#home {
  #logo {
    margin-top: 4.0rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    margin-top: 0.8em;
    font-weight: 900;
    letter-spacing: 0.2em;
    text-align: center;
    text-transformation: downcase;
  }
  .product {
    .product-showcase {
      margin-top: 1em;
      font-weight: 500;
      font-size: 1.15rem;
      .name {
        margin-left: 0;
        text-align: left;
      }
      .price {
        float: right;
        margin-right: 0;
      }
    }
    a {
      color: #000;
    }
  }
  .card {
    width: 30%;
    .card-body {
      padding-bottom: 0.9em;
    }
  }
}

.product {
  a:hover {
    text-decoration: none;
    color: #aaa;
  }
}

footer {
  margin: 5rem 0 3rem 0;
  text-align: center;
  font-size: 0.95em;
}

#sign-up, #sign-in {
  margin-top: 5rem;
  h1 {
    margin-bottom: 1.5em;
  }
}




.btn-lg {
  font-size: $base-font-size;
}

.btn.btn-base {
  background-color: $base-color-secondary !important;
  border-color: $base-color-secondary !important;
  color: #fff;
  &:hover {
    background-color: #efefef !important;
  }
}

#flash {
  margin: 2em 0;
}

#charge-status {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 4rem;
}
