#logo {
  margin-top: 5.5rem;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  margin-top: 0.9em;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-align: center;
  text-transformation: downcase;
}
