.row
  .col-md-3
  .col-md-6
    #charge-status
      %p
        Checkout was cancelled. You can continue to add items to your
        = link_to 'cart', cart_path
        and check out when you are ready.
