.row
  .col-md-3
  .col-md-6
    #charge-status
      %h2.mb-4.text-center= fa_icon "heart"
      %p
        Thank you! We appreciate your business! We'll start preparing your order for shipment. If you have any questions, please
        = link_to "contact us.", contact_path
